* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    font-family: 'Manrope';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}